.onlyleaks-category {
    width: 90%; /* Take up the entire available width */
    color: #C4B5FD;
}

.lexend-exa-regular {
    margin: 0 0 -10px 0;
    align-items: flex-start;
    color: #C4B5FD;
    font-size: 35px;
}

.vid-cont {
    display: flex;
    justify-content: center;
    margin: 40px 0 5px 0;
}

.pic-cont {
    display: flex;
    justify-content: center;
    margin: 40px 0 5px 0;
}


.vid-border {
    max-width: 100%;
    position: relative;
    width: 90%; /* You can adjust this width as needed */
}

.video-frame {
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    border-radius: 8px;
    background-color: #404040;
}

.picture-frame {
    width: 100%;
    height: 0;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    background-color: #404040;
}

.all-small-categories {
    display: flex;
    align-items: center;
}

.small-new-category {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 25px;
    display: flex;
    align-items: center;
    margin: 5px;
}

.small-new-category-tittle {
    margin: 0 5px;
    padding: 3px 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: bold;
    border-radius: 3px;
    color: #C4B5FD;
    background-color: #252525;

}

.small-premium-category-tittle {
    margin: 0 5px;
    padding: 3px 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: bold;
    border-radius: 3px;
    color: #C4B5FD;
    background-color: #252525;
}

.small-quality-category {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 25px;
    display: flex;
    align-self: flex-end;
    justify-content: flex-end;
    margin: 5px 0;   
}

.small-quality-category-tittle-4k {
    margin: 0 5px;
    padding: 3px 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: bold;
    border-radius: 3px;
    color: #C4B5FD;
    background-color: #252525;
}

.small-quality-category-tittle-hd {
    margin: 0 5px;
    padding: 3px 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: bold;
    border-radius: 3px;
    color: azure;
    background-color: #252525;
}

.small-time-category {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 5px; 
}

.small-time-category-tittle {
    margin: 0 5px;
    padding: 3px 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: bold;
    border-radius: 3px;
    color: azure;
    background-color: #252525;
}

.vid-tittle {
    color: #fafafa;
    margin: 5px 0 0 0;

}

.under-tittle-details {
    display: flex;
    justify-content: space-between;
    color: rgba(255, 255, 255, 0.70);
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 8px 0 0 0;
}

.new-category {
    width: 90%;
    margin: 0 20px;

}