        /* Top and navigation bar */
        a {
            text-decoration: none;
            opacity: 1;
            font-size: 1.5em;
            font-weight: 400;
            transition: 200ms;
        }

        a:hover {
            opacity: 0.5;
        }

        #cont {
            width: 100%;
        }

        #cont > .topbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 0px;
            padding: 0 10px;
            background-color: #252525;
            height: 80px;
            width: calc(100% - 20px);
        }

        #cont > .topbar > .main-logo > img {
            height: 56px;
            width: auto;
        }

        #cont > .topbar > .op {
            display: flex;
            flex-direction: row-reverse;
            gap: 20px;
        }


        #cont > .topbar > .op > .search > a > svg {
            fill: #ffffffdd;
            height: 37px;
            width: 37px;
        }

        #cont > .topbar > .op > .category > a > svg {
            fill: #ffffffdd;
            height: 37px;
            width: 37px;
        }

        #cont > .topbar > .op > .cross > a > svg {
            fill: #ffffffdd;
            margin-left: -40%;
            height: 42px;
            width: 42px;
            display: none; /* cross is hidden */
        }

        #cont > .menu {
            display: none;
            flex-direction: column;
            border-radius: 4px;
            padding: 25px;
            gap: 55px;
            width: calc(100% - 50px);
            height: calc(100% - 120px);
            background-color: #252525;
            box-shadow: 0 0 6px 0 white
        }
        
        #cont > .menu > a {
            display: flex;
            justify-content: flex-start;
            padding: 5px;
            color: azure;
            background-color: #252525;
            border-radius: 5px;
            box-shadow: 0 0 9px 3px #C4B5FD;
            font-size: 32px;
        }
