<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>D34</title> 

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/plyr.css') }}">
</head>
<body>
    <video id="player" playsinline controls data-poster="../../static/videos/1/poster.jpg">
        <source src="../../static/videos/1/videoplayback.mp4" type="video/mp4" />
      </video>
    

    <script src="https://cdn.plyr.io/3.7.8/plyr.js"></script>
</body>
</html>