/* Top and navigation bar */

a {
    text-decoration: none;
    opacity:1;
    font-size: 1.5em;
    font-weight: 400;
    transition: 200ms;
  }
  a:hover {
    opacity:0.5;
  }
  ul {
    padding: 0;
    list-style-type: none;
  }
  
  .topbar {
      background-color: #1E1E23;
      height: 85px;
  }