<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="output.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Lekton:ital,wght@0,400;0,700;1,400&family=Sora:wght@300;400;600&display=swap" rel="stylesheet">
    <title>SluttyLeaks</title>
</head>
<body>
    <div class="topbar">
        <a href="#">
            <img src="{{ url_for('static', filename='assets/png/sluttyleaks-logo.png') }}" class="object-scale-down" alt="SluttyLeaks Logo" />
        </a>
        <nav role="navigation">
            <div id="menuToggle">
              <input type="checkbox" />
                <span></span>
                <span></span>
                <span></span>
            <ul id="menu">
              <li><a href="#" class="lekton-regular">Home</a></li>
              <li><a href="#" class="lekton-regular">Categories</a></li>
              <li><a href="#" class="lekton-regular">Just released</a></li>
              <li><a href="#" class="lekton-regular">OnlyLeaks</a></li>
            </ul>
           </div>
          </nav>
    </div>
    <h2 class="lekton-regular mr-5 mt-4">Error</h2>
    <h1 class="lekton-regular mr-5 mt-4">{{error_code}}</h1>
</body>
</html>