<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SluttyLeaks</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/topbar.css') }}">
    <link rel="stylesheet" href="output.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Lekton:ital,wght@0,400;0,700;1,400&family=Sora:wght@300;400;600&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js" 
    integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>

<body>
    <div class="topbar">
        <a href="#">
            <img src="{{ url_for('static', filename='assets/png/sluttyleaks-logo.png') }}" class="main-logo" alt="SluttyLeaks Logo" />
        </a>
<!--         <nav role="navigation">-->            <div id="menuToggle">
              <input type="checkbox" />
                <span></span>
                <span></span>
                <span></span>
            <ul id="menu">
              <li><a href="#" class="li-category lekton-regular">Home</a></li>
              <li><a href="#" class="li-category lekton-regular">Categories</a></li>
              <li><a href="#" class="li-category lekton-regular">Just released</a></li>
              <li><a href="#" class="li-category lekton-regular">OnlyLeaks</a></li>
            </ul>
           </div>
<!--           </nav> -->
    </div>
</body>
</html>